/*

    Sec 1. Reset Styles
    Sec 2. Background/Font Styles
    Sec 3. Header Styles
    Sec 4. Nav Styles
    Sec 5. Main Content Styles

*/

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/*
    Sec 1. Reset Styles
===============================
=========Reset styles==========
===============================
*/
* {
    margin: 0px;
    padding: 0px;
    color: white;
}


/*
    Sec 2. Background/Font Styles
===============================
====Background/Font Styles=====
===============================
*/

html {
    background-color: black;
    min-height: 100%;
    width: 100%;
}

nav {
    font-size: 0.5em;
}

@media (min-width: 600px)
{
    html {
        font-size: 20px;
        background-color: rgb(160, 160, 160);
        background-color: rgb(63, 63, 63);
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position-x: 50%;
        background-blend-mode: overlay;
        min-height: 100%;
        width: 100%;
        font-size: 23px;
    }
}

/*Create the body background on desktop*/
@media (min-width: 601px)
{
    body {
        background-color: rgba(0, 0, 0, 0.674);
        display: block;
        width: 90%;
        min-height: 100vh;
        height: 100%;
        overflow: auto;
        margin: auto;
        background-blend-mode: lighten;
    }
}

/*
    Sec 3. Header Styles
===============================
=========Header Styles=========
===============================
*/
header {
    display: block;
    width: 100%;
    min-height: 15vh;
}

header #headerText {
    font-family: "Permanent Marker", "Gill Sans", sans-serif;
    font-weight: 5;
    text-align: center;
    letter-spacing: 0.5em;
    display: block;
    height: 100%;
    min-height: 100%;
    margin: auto;
}

header #bannerContainer {
    display: block;
    overflow: auto;
}

header #logo {
    width: 10%;
    display: block;
    float: left;
    
}

/*
    Sec 4. Nav Styles
===============================
==========Nav styles===========
===============================
*/

nav {
position: absolute;
width: 100%;
}

.navSection {
display: block;
background-image: linear-gradient(to bottom right, darkgrey, darkslategrey);
float: left;
width: 100%;
margin: auto;
position: relative;
font-size: 2.5em;
overflow: hidden;
}

.subNav {
font-size: 1.5em;
display: none;
}

@media (min-width: 601px)
{

    .navSection {
        width: 20%;
    }

nav {
    position: relative;
    clear: both;
}

/*nav li:hover + .subNav, .subNav:hover {
    display: block;
}*/

.subNav {
    position: absolute;
    top: 100%;
    left: 0px;
}

.clearfix {
    clear:both;
}
}

.animBox {
width: 100%;
height: 600px;
outline: 5px inset green;
/*background-color: hsl(0, 0%, 30%);*/
}

/*
nav ul {
    list-style-type: none;
    display: block;
    width: 100%;
    min-width: 100%;
    position: relative;
}

nav li {
    display: block;
    background-image: linear-gradient(to bottom right, orchid, rebeccapurple);
    float: left;
    width: 25%;
    margin: auto;
    position: relative;
}


nav ul ul {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
}

nav li:hover ul, nav li ul:hover {
    display:block;
}

nav ul ul li {
    float: none;
    width: 100%;
}


/*
    Sec 1. Reset Styles
===============================
=========Reset styles==========
===============================
*/

main {
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: auto;
}

@media(min-width: 680px)
{
main .mainColumn {
    width: 40%;
    float: left;
    height: 100%;
    min-height: 100%;  
    text-align: center; 
    padding: 5%;
}
}